:root {
  --swiper-theme-color: var(--pico-primary);
}

.swiper-pagination-bullet {
  opacity: 100%;
  background-color: var(--pico-text-selection-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--swiper-theme-color);
}
