---
import "../styles/global.scss";
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import ContactForm from "../components/ContactFormNetlify.astro";
import Phone from "../components/QuillPhone.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "Where Old World Barbering Meets A Modern Twist";
---

<FrontPageLayout pageTitle={pageTitle}>
  <div class="main">
    <article>
      <p>
        With over 60 years combined experience, The Shearing Shed is a place to
        meet old friends, make new ones and share stories and laughter.
      </p>
      <p>
        Our mission is to make you leave with a smile on your face and looking
        sharp.
      </p>
      <p>
        Having been cutting hair since before it was cool (a very long time), we
        have carved a unique path in barbering.
      </p>
      <p>
        With our noteable level of experience, you’re sure to get a great
        haircut at a good price.
      </p>
      <p>
        And, you could even get to hear one of the bad jokes Tony’s famous for!
      </p>
      <p>
        Call us on:<br />
        <Phone />
        <a href="tel:0357752300">03 5775 2300</a>
      </p>
    </article>
  </div>
  <p>
    We would love to hear from you. Just complete the form below and we shall
    get back to you as soon as we can.
  </p>
  <article class="grid">
    <div>
      <ContactForm />
    </div>
    <div class="facebook">
      <h3>Facebook</h3>
      <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fwww.mansfieldshearingshedbarbershop.com.au&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1186019991435556"
        width="340"
        height="500"
        style="border:none;overflow:hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
    </div>
  </article>
  <h2 style="text-align: center">Location</h2>
  <article class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3184.178324052614!2d146.08923827249598!3d-37.05323345943734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b27c915175a4a95%3A0x2883a9092ecc6994!2sThe%20Mansfield%20Shearing%20Shed%20-%20Barber%20shop!5e0!3m2!1sen!2sau!4v1723681789196!5m2!1sen!2sau"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </article>
</FrontPageLayout>
<style>
  .facebook {
    text-align: center;
  }
  .map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
  }
</style>
