---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const stylePhotos = await Astro.glob("../images/hair-styles/*.jpg").then(
  (files) => {
    return files.map((file) => file.default);
  }
);
const pageTitle = "Styles";
---

<Layout pageTitle={pageTitle}>
  <article>
    <p>
      Here is a selection of styles for you to choose from (or ask us for more):
    </p>
    <div class="grid">
      {
        stylePhotos.map((stylePhoto) => (
          <div>
            <Image src={stylePhoto} alt="" loading="lazy" />
          </div>
        ))
      }
    </div>
  </article>
</Layout>
<style>
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
    & img {
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  @media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
