---
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
import Hamburger from "./Hamburger.astro";
import "../styles/global.scss";
---

<div class="container-fluid">
  <Hamburger />
  <Navigation />
  <Logo />
</div>
<style>
  .container-fluid {
    position: relative;
    background: none;
    z-index: 2;
    flex-flow: row wrap;
  }
</style>
