---
import { Image } from "astro:assets";
import { imageMetadata } from "astro/assets/utils";
// import Swiper and modules styles
import "swiper/scss";
import "swiper/scss/pagination";
import "swiper/scss/autoplay";
import "swiper/scss/effect-flip";
import "../styles/my-swiper-styles.scss";
interface Props {
  src: ImageMetadata;
  alt: string;
}
// Use import.meta.glob to get all images from the photo directory
const images: { [key: string]: { default: ImageMetadata } } = import.meta.glob(
  "../images/gallery/*.{jpeg,jpg,png,gif,webp}",
  { eager: true }
);
// Create an array of image information
const imageList = Object.entries(images).map(([path, image]) => {
  // Extract filename from path to use as default title
  const fileName = path.split("/").pop()?.split(".")[0] || "";
  const title = fileName
    .split("-")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");

  return {
    path,
    alt: title,
    src: image.default,
  };
});

const pageTitle = "Gallery";
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      imageList.map((image, index) => (
        <div class="swiper-slide">
          <Image src={image.src} alt={image.alt} loading="lazy" />
        </div>
      ))
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <script>
    // core version + navigation, pagination modules:
    import Swiper from "swiper";
    import { Autoplay, Pagination, EffectFlip } from "swiper/modules";

    // init Swiper:
    const swiper = new Swiper(".swiper", {
      // configure Swiper to use modules
      modules: [Autoplay, Pagination, EffectFlip],

      loop: true,
      slidesPerView: 1,
      speed: 1000,
      effect: "flip",
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },

      // If we need pagination
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
      },
    });
  </script>
  <style lang="scss">
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        display: block;
        width: auto;
        height: 72vh;
        object-fit: contain;
        border-radius: 10px;
      }
    }
  </style>
</div>
