---
import { Image } from "astro:assets";
import logo from "../images/ShearingShedLogoBWStroked.png";
---

<nav class="main-nav">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/story/">Story</a>
    </li>
    <li>
      <a href="/services/">Services</a>
    </li>
    <li class="logo"><a href="/"><Image src={logo} alt="Logo" /></a></li>
    <li>
      <a href="/styles/">Styles</a>
    </li>
    <li>
      <a href="/gallery/">Gallery</a>
    </li>
    <li>
      <a href="/contact/">Contact Us</a>
    </li>
  </ul>
</nav>
<style>
  li a {
    font-size: 1em;
    padding: 0 0.8em;
    text-transform: uppercase;
  }
</style>
